---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Gaurav Vaidya's Website">
	<main>
		<h1>Welcome to Gaurav Vaidya's website!</h1>
		<p>
			but what does this mean?
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
